body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: hsl(192, 100%, 9%);
	background: url(images/bg-hero-desktop.svg) no-repeat top center;
	background-size: 100% auto;
	margin: 0;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

header {
	padding: 4vw 7vw;
	display: flex;
	align-items: center;
	background: rgba(190, 243, 255, 0.36);
}

header img {
	max-width: 175px;
}

.btn {
	display: inline-block;
	padding: 15px 45px;
	background: hsl(322, 100%, 66%);
	color: #fff;
	border-radius: 100px;
	box-shadow: 0 5px 10px hsl(322, 100%, 86%);
	font-size: 0.75em;
	font-weight: 700;
	text-decoration: none;
	transition: opacity 0.3s ease-in-out;
}

.btn:hover {
	opacity: 0.75;
}

header .btn {
	background: #fff;
	color: hsl(192, 100%, 9%);
	box-shadow: 0 5px 10px hsl(208, 11%, 85%);
	margin-left: auto;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 7vw 7vw 7vw;
	background: rgba(190, 243, 255, 0.36);
}

.hero-text {
	width: calc(50% - 4vw);
	padding-right: 4vw;
}

.hero-img {
	width: 50%;
}

.hero img {
	width: 100%;
	height: auto;
}

main {
	padding: 10vw 7vw;
}

article {
	padding: 2vw 4vw;
	box-shadow: 0 0 20px hsl(208, 11%, 92%);
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

article div {
	width: calc(50% - 7vw);
	padding: 0 2vw 0 5vw;
}

article img {
	width: calc(50% - 7vw);
	padding: 20px 0 20px 7vw;
}

article p {
	color: hsl(208, 11%, 55%);
}

article.flipped {
	flex-direction: row-reverse;
}

article.flipped div {
	padding: 0 5vw 0 2vw;
}

article.flipped img {
	padding: 20px 7vw 20px 0;
}

.cta {
	position: absolute;
	background: #fff;
	border-radius: 15px;
	top: -7vw;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 4vw;
	width: 40%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	text-align: center;
	color: hsl(192, 100%, 9%);
	font-size: 1.25em;
}

.cta h3 {
	margin-top: 0;
}

.cta .btn:hover {
	color: #fff;
}

footer {
	position: relative;
	background: hsl(192, 100%, 9%);
	padding: 14vw 7vw 4vw 7vw;
	color: #fff;
	display: grid;
	grid-gap: 15px 4vw;
	grid-template: 100px 1fr 50px / 2fr 3fr 1fr;
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

footer a:hover {
	color: hsl(322, 100%, 66%);
}

footer nav {
	grid-area: 2 / 2;
	justify-self: center;
	align-self: top;
}

footer nav ul {
	list-style-type: none;
	padding: 0 10% 0 20%;
	margin: 0;
}

footer nav li {
	width: 50%;
	display: inline-block;
	margin: 0.5em 0;
}

footer img {
	grid-area: 1 / 1;
}

.info {
	grid-area: 2 / 1;
}

.info img {
	width: 75%;
}

.info div {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.info i {
	width: 10%;
	padding-top: 5px;
}

.info p {
	width: 90%;
	margin: 0;
}

.social {
	grid-area: 2 / 3;
	display: flex;
}

.social a {
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.copyright {
	grid-row: 3;
	grid-column: 1 / -1;
	text-align: right;
	font-size: 0.75em;
}
